/*------------------------------------*\
    #LIGHTBOX
\*------------------------------------*/
.lightbox{
    background-color: rgba(108, 15, 14, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
	> div{
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 9999;
		.transform;
	}
	.close{
		&:hover{
			cursor: pointer;
			opacity: .8;
		}
	}
}
.btn-lightbox{
	&:hover{
		cursor: pointer;
		opacity: .8;
	}
}