/*------------------------------------*\
    #COLUMNS
\*------------------------------------*/

.all-table{
  width: 90%;
  margin-left: 5%;
  @media only screen and (min-width: 530px){
    position: absolute;
    top: 50%;
    .transformy;
  }
  @media only screen and (min-width: 950px){
    left: 2.5%;
    width: 70%;
  }
  @media only screen and (min-width: 1385px){
    width: 60%;
  }
}
#css-table {
  display: table;
}
#css-table .col {
  padding: 10% 0;
  text-align: center;
  border-bottom: 2px solid #000;
  .box-sizing;
  &:last-child{
    border-bottom: 0;
  }
  h1{
    font-size: 4.5em;
    font-weight: 200;
  }
  p{
    font-size: 1.6em;
    line-height: 2em;
  }
  @media @tablet{
    width: 50%;
    float: left;
    border: 0;
  }
  @media only screen and (min-width: 950px){
    display: table-cell;
    width: 33.33%;
    padding: 1.5% 3% 10%;
    text-align: left;
    border-right: 2px solid #000;
    border-bottom: 0;
    &:last-child{
      border-right: 0;
    }
    img{
      margin-bottom: 15%;
    }
    h1{
      margin-bottom: 10%;
      @media only screen and (min-width: 1385px){
        font-size: 6.5em;
        margin-bottom: 15%;
      }
    }
  }
}
