/*------------------------------------*\
    #LOCAL
\*------------------------------------*/

.local{
  background-color: #FFF;
  .box-sizing;
  &__container{
		padding-bottom: 5%;
  	@media @tablet-landscape-up{
  		width: 120%;
  		margin-left: -35%;
  		margin-bottom: 10%;
  		padding-bottom: 0;
  	}
  }
  &__content{
  	.box-sizing;
    	p{
    		padding: 0 !important;
    	}
  }
  h1{
    padding-left: 10%;
  }
  p{
    margin-bottom: 2%;
    line-height: 30px;
    font-size: 1.8em;
    .box-sizing;
    strong{
      font-weight: 700;
      font-size: 4em;
      line-height: 50px;
    }
    &.bottom{
      @media @desktop-up{
        margin-bottom: 6%;
      }
      @media @big-desktop-up{
        margin-bottom: 10%;
      }
    }
  }
}
.allimgs2{
  float: left;
  width: 55%;
  img{
    width: 50%;
    float: left;
    &:nth-child(1){
      width: 100%;
    }
    &:nth-child(4){
      width: 100%;
    }
  }
}
.local .loc-logo{
  @media @phone-only{
    float: initial;
    margin: 0 auto;
    width: 60%;
    display: block;
  }
  @media @tablet-landscape-up{
    margin-top: -40px;
    margin-left: 10%;
  }
}
.local .loc-cont{
  .box-sizing;
  @media @phone-only{
    padding: 0 5%;
  }
  @media @tablet-landscape-up{
    padding-left: 10%;
  }
  &--inner{
    @media @tablet-landscape-up{
      .box-sizing;
      padding-right: 4%;
    }
  }
}
.local .loc-img{
  @media @tablet-landscape-up{
    padding: 0 4% 0 0;
    .box-sizing;
  }
}