/*------------------------------------*\
    #INFO
\*------------------------------------*/

.info{
	background-color: #6C0F0E;
	&__item{
		text-align: center;
		padding: 6% 0;
		background-color: #6C0F0E;
		.box-sizing;
		&:nth-child(2){
		    background-color: #801A1A;
		}
		h1{
			color: #fff;
		    font-size: 4em;
		    margin: 5% 0;
		}
		p{
			font-size: 1.8em;
			color: @color-white;
			line-height: 1.6em;
			padding: 0 10%;
		}
	}	
	&__img{
		height: 80px;
		align-self: center;
		@media @phone-only{
			float: inherit;
			margin-bottom: 5%;
		}
		&--mobile{
			@media @phone-only{
				display: inline-block;
			}
			@media @tablet-portrait-up{
				display: none;
			}
		}
		&--desktop{
			@media @phone-only{
				display: none;
			}
			@media @tablet-portrait-up{
				display: inline-block;
			}
		}
	}
}