/*------------------------------------*\
    #PROGRAMACAO
\*------------------------------------*/

.programacao{
	background-color: #EAEAEA;
	padding: 0 5%;
	@media @tablet-landscape-up{
		padding: 0;
	}
	&__item{
		padding-top: 6% 0;
		.box-sizing;
		@media @phone-only{
			text-align: center;
		}
		> div{
			@media @tablet-landscape-up{
				margin-left: 5%;
				width: 85%;
			}
		}
	}
	.trilha{
		padding-bottom: 6%;
		@media @phone-only{
		    border-left: 5px dashed #000;
		    padding-left: 6%;
		    .box-sizing;
		}
		.linha{
			display: none;
			@media @tablet-landscape-up{
				display: block;
			}
		}
		&__item{
			@media @phone-only{
				margin-top: 5%; 
			}
			@media @tablet-landscape-up{
				position: absolute;
			}
			&--um{
				@media @tablet-landscape-up{
					right: 40px;
					top: 0;
				}
			}
			&--dois{
				@media @tablet-landscape-up{
					 right: 0;
					 bottom: 0;
				}
			}
			&--tres{
				@media @tablet-landscape-up{
					left: 30px;
					top: 0;
				}
			}
			&--quatro{
				@media @tablet-landscape-up{
					left: 40px;
					bottom: 0;
				}
			}
		}
		&__marca{
			@media @phone-only{
				display: none;
			}
		}
	}
}