/*------------------------------------*\
    #FORM
\*------------------------------------*/

.form{
  &__row{
    width: 100%;
    float: left;
    &:after{
      content: " ";
      clear: both;
    }
  }
  &__label{
    display: block;
    padding-bottom: 2%;
    &--contact{
      padding-bottom: 1%;
    }
  }
  &__field{
    width: 100%;
    background-color: #E6E6E6;
    border: 2px solid #8c8c8c;
    padding: 10px;
    margin-bottom: 2.5%;
    .border-radius(10px);
    .box-sizing;
    @media @tablet-portrait-up{
      width: 80%;
      margin-left: 20%;
    }
    &--message{
      resize: none;
      height: 140px;
      margin-bottom: 0;
    }
  }
}
