/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

.footer{
  background-color: @color-black;
  padding: 3% 0 3%;
  .box-sizing;
  &__info{
    justify-content: initial;
    p{
      margin-right: 1%;
      @media @tablet-portrait-up{
        display: inline-block;
      }
    }
  }
  &__cont{
    align-self: center;
  }
  &__logo{
    .transition(all .2s ease-out);
    &:hover{
      cursor: pointer;
      opacity: .5;
      .transition(all .2s ease-out);
    }
  }
  &:after{
    content: " ";
    clear: both;
  }
}
