/*------------------------------------*\
    #CONTATO
\*------------------------------------*/
.patrocinar{
	background-color: #6C0F0E;
	text-align: center;
	padding: 3% 0;
	a{
		font-size: 3.6em;
    	font-weight: 700;
	    text-transform: uppercase;
	    color: #FFF;
	}
}
.contato{
	background-color: #E6E6E6;
	padding: 16% 0 6%;
	.title{
		color: #6C0F0E;
		padding-left: 20%;
	}
}