/*------------------------------------*\
    #SLIDE
\*------------------------------------*/

.slide{
	position: absolute;
	  width: 100%;
	  height: 100%;
	z-index: -1;
	.background-size;
	background-position: center;
	opacity: 0;
	.animation(fadeSlide 15s infinite);
	@media @mobile{
		overflow: auto;
		position: fixed;
		.background-size(auto 100%);
	}
	&__1{
		background-image:url('../images/img1-1.jpg');
		.animation-delay(0s);
	}
	&__2{
		background-image:url('../images/img2.jpg');
		.animation-delay(5s);
	}
	&__3{
		background-image:url('../images/img3.jpg');
		.animation-delay(10s);
	}
}
