/*------------------------------------*\
    #PAGE
\*------------------------------------*/

.page{
	background-color: #8e142b;
	background-image: url('../images/bg-padrao.jpg');
	background-position: left top;
}

.aex-2017{
	.content{
		padding: 6% 0;	
	}
	.logo{
		margin: 4% 0;
		padding-left: 10%;
		@media @desktop-up{
			margin: 6% 0;
		}
		@media @big-desktop-up{
			margin: 10% 0;
		}
	}
	.title{
		margin-left: 10%;
	}
	.sub-title{
		margin-left: 10%;
		margin-top: 2%;
	}
	.paragraph{
		margin-top: 1.5%;
		line-height: 1.6em;
		@media @phone-only{
    		padding: 0 5%;
			.box-sizing;
    	}
		@media @tablet-landscape-up{
		    padding: 0 10%; 
		}
	}
}
.imgs{
  @media @desktop-up{
    margin-top: -5%;
    margin-bottom: -5%;
  }
	.img{
		width: 50%;
		float: left;
		&:nth-child(3){
			width: 100%;
		}
		&:nth-child(6){
			width: 100%;
		}
	}
}
.img-aex{
    @media @phone-only{
		padding:0 5%;
		.box-sizing;
	}
}
.img-batalha{
    display: inline-block;
    @media @phone-only{
		padding:0 5% 5%;
		.box-sizing;
	}
    @media @tablet-landscape-up{
    	margin-top: 3%;
    	margin-left: 2%;
    }
}