/*------------------------------------*\
    #HOSPEDAGEM
\*------------------------------------*/

.hospedagem{
	.box-sizing;
    &__cont{
      background-color: #FFF;
      padding-bottom: 5%;
    }
    &__content{
    	.box-sizing;
    	@media @tablet-landscape-up{
      		padding: 0;
      	}
      	p{
      		padding: 0 !important;
      	}
    }
    h1{
      padding-left: 10%;
      color: #6C0F0E;
    }
    p{
      margin-bottom: 2%;
      line-height: 30px;
      font-size: 1.8em;
      .box-sizing;
      @media @tablet-landscape-up{
      	padding: 0;
      }
      strong{
        font-weight: 700;
        font-size: 1.8em;
        line-height: 30px;
      }
      &.bottom{
        strong{
          font-size: 4em;
        }
        @media @desktop-up{
          margin-bottom: 6%;
        }
        @media @big-desktop-up{
          margin-bottom: 10%;
        }
      }
    }
  }
  .allimgs2{
    float: left;
    width: 55%;
    margin-top: 5em;
    img{
      width: 50%;
      float: left;
      &:nth-child(1){
        width: 100%;
      }
      &:nth-child(4){
        width: 100%;
      }
    }
  }
.hospedagem .slick-slide img{
  width: 100%;
}
.hospedagem .slick-dots{
  width: auto;
  li{
    width: 10px;
    height: 10px;
    background-color: #a9120f;
    border: 3px solid #a9120f;
  }
}
.hospedagem .slick-dotted.slick-slider{
  margin-bottom: 50px;
  margin-top: 5%;
}
.hospedagem .hosp-cont{
  .box-sizing;
  @media @phone-only{
    padding: 0 5%;
  }
  @media @tablet-landscape-up{
    padding-left: 10%;
  }
  &--inner{
    @media @tablet-landscape-up{
      .box-sizing;
      padding-right: 4%;
    }
  }
}
.hospedagem .hosp-slide{
  @media @tablet-landscape-up{
    padding: 0 4% 0 0;
    .box-sizing;
  }
}