.perspective-card-wrap {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-perspective-origin: center;
    perspective-origin: center;

    display: inline-block;
        width: 100%;
    height: 100%;
}
.perspective-card__content {
    position:absolute;
    top:2rem;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;

    -webkit-transform: translateZ(60px);
    transform: translateZ(60px);
    -moz-osx-font-smoothing: grayscale;
}
.perspective-card__content-2 {

    -webkit-transform: translateZ(140px);
    transform: translateZ(140px);
    -moz-osx-font-smoothing: grayscale;

    z-index: 999;
}
.perspective-card {
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    margin: 0;
    color: white;
    padding: 0;
    text-transform: uppercase;
    font-family: 'open sans';
    background-image: url(http://ezcuze.com.br/web/involves/wp/wp-content/themes/ezcuze/assets/images/bg-padrao.jpg);
    text-align: center;
    background-color: white;
    box-shadow: 0px 3px 20px rgba(0,0,0,0.15);

    /* necessary for effect */
    position: relative;
    
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    will-change: transform;
}