/*------------------------------------*\
    #FAQ
\*------------------------------------*/

.faq{
  background-color: #FFF;
  padding: 0 5% 0;
	.box-sizing;
  @media @tablet-landscape-up{
    padding: 0 5% 16%;
  }
  &__container{
		padding-bottom: 5%;
  	@media @tablet-landscape-up{
      width: 135%;
      margin-left: -35%;
  		margin-bottom: 10%;
  		padding-bottom: 0;
  	}
  }
  &__cont{
    background-color: #FFF;
  }
  &__content{
  	padding: 0 5%;
  	.box-sizing;
  	@media @tablet-landscape-up{
  		padding: 0;
  	}
  	p{
  		padding: 0 !important;
  	}
  }
  .title{
    color: #6C0F0E;
    padding: 4% 0;
    padding-left: 10%;
  }
  p{
    margin-bottom: 2%;
    padding: 0 5%;
    line-height: 30px;
    font-size: 1.8em;
    .box-sizing;
    @media @tablet-landscape-up{
    	padding: 0;
    }
    strong{
      font-weight: 700;
      font-size: 1.8em;
      line-height: 30px;
    }
    &.bottom{
      strong{
        font-size: 4em;
      }
      @media @desktop-up{
        margin-bottom: 6%;
      }
      @media @big-desktop-up{
        margin-bottom: 10%;
      }
    }
  }
}
.allimgs2{
  float: left;
  width: 55%;
  margin-top: 5em;
  img{
    width: 50%;
    float: left;
    &:nth-child(1){
      width: 100%;
    }
    &:nth-child(4){
      width: 100%;
    }
  }
}
.faq .slick-dots{
  width: auto;
  right: 0;
  li{
    width: 10px;
    height: 10px;
    background-color: #a9120f;
    border: 3px solid #a9120f;
  }
}