/*------------------------------------*\
    #PALESTRANTES
\*------------------------------------*/

.palestrantes{
	&__item{
		margin-bottom: 5%;
		@media @phone-only{
			padding: 0 5%;
			.box-sizing;
		}
	}
	&__img{
		&--perfil{
			z-index: 99;
		}
	}
	&__info{
		&--resumo{
			border: 1px solid #6c1211;
			padding: 5%;
			margin-top: 5%;
			.box-sizing;
			@media @tablet-portrait-up{
				margin-top: -25px;
				margin-right: 5%;
				padding: 50px 5% 5%;
			}
		}
	}
	&__linkedin{
		position: absolute;
		top: 5%;
		right: 2.5%;
	}
	&__title{
		font-size: 2.2em;
		font-weight: 700;
		margin-bottom: 5%;
	}
	&__sub-title{
		font-size: 1.6em;
		line-height: 1.4em;
		font-weight: 700;
		margin-bottom: 5%;
	}
}