/*------------------------------------*\
    #TAG
\*------------------------------------*/

.tag{
	text-align: center;
	border-top: 8px solid #000;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: @color-white;
	padding: .5%;
	.box-sizing;
	@media @tablet-portrait-up{
		width: 40%;
	}
	@media @desktop-small{
		width: 25%;
	}
	h1{
		font-size: 3em;
		font-weight: 700;
		color: #000;
		margin-bottom: 1%;
		display: inherit;
		@media @phone-only{
			padding-top: 1%;
		}
	}
	span{
		font-size: 2.5em;
		display: block;
	}
}