/*------------------------------------*\
    #FIGURE
\*------------------------------------*/

.figure{
  width: 100%;
  padding: 0;
  border: none;
  background: #fff;
  @media only screen and (min-width: 950px){
    flex: 1 0 450px;
  }
  img{
    width: 100%;
  }
}
