/*------------------------------------*\
    #TAB
\*------------------------------------*/

.tab{
	margin-bottom: 2.5%;
	&__all{
		width: 100%;
		float: left;
		padding-left: 30px;
		.box-sizing;
		@media @phone-only{
			margin-bottom: 5%;
		}
		&--left{
			@media @tablet-portrait-up{
				padding-left: 5%;
			}
		}
		&--right{
			@media @tablet-portrait-up{
				padding-left: 0;
				padding-right: 5%;
			}
		}
	}
	&__header{
		color: #000;
		font-size: 1.8em;
		font-weight: 700;
		border: 1px solid #000;
		padding: 0;
		.box-sizing;
		@media @tablet-portrait-up{
			margin-top: 3%;
		}
		&:hover{
			cursor: pointer;
		}
		> div{
			padding: 2% 6% 2% 2%;
		}
	}
	&__title{
		font-size: 1.6em;
		position: relative;
    	height: auto;
		.box-sizing;
		@media @tablet-portrait-up{
			height: 170px;
		}
	}
	&__name{
		height: 170px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 0 30px;
	}
	&__item{
		height: 0;
		overflow: hidden;
		.box-sizing;
		.transition(height .2s ease-out);
	}
	&__prev{
		@media @desktop{
    		height: 170px;
		}
		@media @desktop-xl{
    		height: 170px;
		}
	    padding: 2.5%;
		.box-sizing;
	}
	&__paragraph{
		font-size: 1.5em;
		line-height: 1.2em;
		padding: 0.5% 5% 0;
		margin-top: 1%;
	}
	&__btn{
		font-size: 2.6em;
	    width: 30px;
	    height: 30px;
	    position: absolute;
	    top: -1px;
	    left: -32px;
	    border: 1px solid #000;
	    text-align: center;
	    line-height: 28px;
		&--open{
			display: block;
		}
		&--close{
			display: none;
		}
	}
}
.is-open{
	.tab__header{
		border-bottom: none;
	}
	.tab__item{
		height: auto;
    	float: left;
    	border: 1px solid #000;
		border-top: none;
		padding-bottom: 2.5%;
		.transition(height .8s ease-out);
	}
	.tab__btn{
		&--open{
			display: none;
		}
		&--close{
			display: block;
		}
	}
}
