/**
 * #SETTINGS
 */
@import "settings-global";

/**
 * #TOOLS
 */
@import "tools-mixins";

/**
 * #GENERIC
 */
@import "generic-reset";

/**
 * #BASE
 */
@import "base-page";
@import "base-type";

/**
 * #OBJECTS
 */
@import "objects-button";
@import "objects-header-paralax";
@import "objects-tab";

/**
 * #COMPONENTS
 */
@import "components-header";
@import "components-page";
@import "components-tag";
@import "components-info";
@import "components-bar";
@import "components-video";
@import "components-list";
@import "components-programacao";
@import "components-palestrantes";
@import "components-local";
@import "components-pre";
@import "components-hospedagem";
@import "components-faq";
@import "components-cards";
@import "components-contato";
@import "components-alert";
@import "components-form";
@import "components-footer";
@import "components-lightbox";
@import "components-perspective";

/**
 * #TRUMPS
 */
@import "trumps-widths";

.videofull {
	min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 99;
}
