/*------------------------------------*\
    #ANIMATIONS
\*------------------------------------*/

@keyframes rotate {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(0deg); }
  100% { transform: rotate(90deg); }
}
@-moz-keyframes rotate {
  0% { -moz-transform: rotate(0deg); }
  50% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(90deg); }
}
@-webkit-keyframes rotate {
  0% { -webkit-transform: rotate(0deg); }
  50% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(90deg); }
}

.animation-rotate {
  display: none;
  @media @tablet-landscape-up{
    display: inline-block;
    position: absolute;
    bottom: 2.5%;
    width: 50px;
    left: 50%;
    .transformx(-50%);
    -webkit-animation-name: rotate; 
    -moz-animation-name: rotate; 
    animation-name: rotate; 

    -webkit-animation-duration: 5s; 
    -moz-animation-duration: 5s; 
    animation-duration: 5s; 

    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    animation-iteration-count: 1;

    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    transition-timing-function: linear;
    
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  &:hover{
    opacity: .8;
  }
}
