body{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.05em;
}

/*------------------------------------*\
    #TITLE
\*------------------------------------*/

.title{
  font-size: 14em;
  font-weight: 700;
  color: @color-red;
  @media @phone-only{
    font-size: 6em;
  }
  &--pre-venda{
    font-size: 6em;
    color: @color-white;
    margin-bottom: 10%;
    text-transform: uppercase;
  }
}
.sub-title{
  font-weight: 700;
  font-size: 7.5em;
}

/*------------------------------------*\
    #PARAGRAPH
\*------------------------------------*/

.paragraph{
  color: #000;
  font-size: 1.8em;
  font-weight: 300;
  .bold{
    font-weight: 700;
  }
  &--pre-venda{
    color: @color-white;
    margin-bottom: 6%;
    line-height: 30px;
    &.mBottom{
      margin-bottom: 2%; 
    }
    .italic{
      font-size: 1.8em;
      font-style: italic;
    }
  }
}


/*------------------------------------*\
    #BUTTON
\*------------------------------------*/

.btn{
  font-size: 1.8em;
  color: @color-white;
  text-align: center;
  &:hover{
    color: #FFF;
  }
}


/*------------------------------------*\
    #NAV
\*------------------------------------*/

.nav{
  &__link{
    color: @color-white;
    font-size: 1.6em;
    &:hover{
      color: @color-black;
    }
    &--footer {
      display: block;
      margin-left: 10%;
      color: #FFF;
      margin-bottom: 5%;
      font-weight: 200;
    }
  }
}
.header.is-scroll{
  color: @color-white;
  .nav__link{
    &:hover{
      color: @color-red;
    }
  }
}

/*------------------------------------*\
    #HEADER PARALAX
\*------------------------------------*/

.header-paralax  {
  &__title{
    color: #FFF;
    font-size: 6em;
    font-weight: 200;
    @media only screen and (min-width: 950px){
      font-size: 8em;
    }
  }
}

.contato{
  &__title{
    color: @color-black;
    font-weight: 700;
    font-size: 4em;
    line-height: 50px;
  }
}

/*------------------------------------*\
    #FORM
\*------------------------------------*/

.form{
  &__field{
     color: @color-black;
    font-size: 1.8em;
    .placeholder({ 
      color: @color-black;
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 0.05em;
      font-weight: 300;
    });
  }
}


/*------------------------------------*\
    #FOOTER
\*------------------------------------*/
.footer{
  color: @color-white;
  font-size: 1.8em;
  @media @phone-only{
    text-align: center;
  }
  a{
    color: @color-white;
    .transition(all .2s ease-out);
    &:hover{
      color: @color-red;
      .transition(all .2s ease-out);
    }
  }
  &__info{
    align-self: center;
    p{
      line-height: 35px;
      font-style: italic;
    }
  }
  &__cont{
    text-align: center;
    @media @tablet-portrait-up{
      text-align: right;
    }
    p{
      font-style: italic;
      @media @phone-only{
        line-height: 2em;
      }
      @media @tablet-portrait-up{
        line-height: 4em;
      }
    }
  }
}
