/*------------------------------------*\
    #PAGE
\*------------------------------------*/

html{
	background-color: #fff;
    font-size: 7px;
    @media @desktop-up{
    	font-size: 8px;  	
    }
    @media @big-desktop-up{
       font-size: 10px;
    }
}
html, body{
  height: 100%;
  padding: 0;
  margin: 0;
}
section{
	overflow: hidden;
	position: relative;
	&::after{
		content:" ";
		clear: both;
		display: block;
	}
}
.rl{
	position: relative;
}
.clear{
  clear: both;
}
.center{
	margin: 0 auto;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.box{
	.box-sizing;
}
.z1{
	z-index: 9;
}
.z2{
	z-index: 99;
}
.z3{
	z-index: 999;
}
.no-overflow{
	overflow: inherit;
}
.flex{
	@media @tablet-portrait-up{
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -moz-flex;
		display: -webkit-flex;
		display: flex;

		flex-wrap: wrap;
		//align-items: center;
		justify-content: center;
	}
}
.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  @media @tablet-portrait-up{
    width: 100%;
  }
  @media @desktop-small{
    width: 970px;
  }
  @media @desktop-up{
    width: 1170px;
  }
  @media @big-desktop-up{
    width: 1600px;
  }
}
@media only screen and (max-width: 949px){
	.mobile{
		display: block;
	}
	.desktop{
		display: none;
	}
}
@media only screen and (min-width: 950px){
	.mobile{
		display: none;
	}
	.desktop{
		display: block;
	}
}
