/*------------------------------------*\
    #LOCAL
\*------------------------------------*/

.local{
    background-color: #FFF;
    float: right;
    .box-sizing;
    @media @tablet-landscape-up{
      margin-right: 10%;
    }
    &__container{
  		padding-bottom: 5%;
    	@media @tablet-landscape-up{
    		width: 120%;
    		margin-left: -35%;
    		margin-bottom: 10%;
    		padding-bottom: 0;
    	}
    }
    &__content{
    	padding: 0 5%;
    	.box-sizing;
    	@media @tablet-landscape-up{
      		padding: 0 0 0 10%;
      	}
      	p{
      		padding: 0 !important;
      	}
    }
    h1{
      font-size: 8em;
      margin: 4% 0;
      padding-left: 10%;
      font-weight: 700;
      color: #a9120f;
      @media @tablet-landscape-up{
        font-size: 14em;
      }
      @media @desktop-up{
        margin: 6% 0;
      }
      @media @big-desktop-up{
        margin: 10% 0;
      }
    }
    p{
      margin-bottom: 2%;
      padding: 0 5%;
      line-height: 30px;
      font-size: 1.8em;
      .box-sizing;
      @media @tablet-landscape-up{
      	padding: 0 10%;
      }
      strong{
        font-weight: 700;
        font-size: 4em;
        line-height: 50px;
      }
      &.bottom{
        @media @desktop-up{
          margin-bottom: 6%;
        }
        @media @big-desktop-up{
          margin-bottom: 10%;
        }
      }
    }
  }
  .allimgs2{
    float: left;
    width: 55%;
    img{
      width: 50%;
      float: left;
      &:nth-child(1){
        width: 100%;
      }
      &:nth-child(4){
        width: 100%;
      }
    }
  }