/*------------------------------------*\
    #HOSPEDAGEM
\*------------------------------------*/

.hospedagem{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a9120f+50,ffffff+50 */
	background: #a9120f; /* Old browsers */
	background: -moz-linear-gradient(left, #a9120f 50%, #ffffff 50%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #a9120f 50%,#ffffff 50%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #a9120f 50%,#ffffff 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9120f', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
	.box-sizing;
    &__container{
  		padding-bottom: 5%;
    	@media @tablet-landscape-up{
        width: 145%;
        margin-left: -40%;
        margin-bottom: 10%;
        padding-bottom: 0;
    	}
    }
    &__cont{
      background-color: #FFF;
    }
    &__content{
    	padding: 0 5%;
    	.box-sizing;
    	@media @tablet-landscape-up{
      		padding: 0;
      	}
      	p{
      		padding: 0 !important;
      	}
    }
    h1{
      font-size: 8em;
      padding: 4% 0;
      margin: 0;
      padding-left: 10%;
      font-weight: 700;
      color: #a9120f;
      @media @tablet-landscape-up{
        font-size: 14em;
      }
      @media @desktop-up{
        padding: 6% 0 8% 6%;
      }
      @media @big-desktop-up{
        padding: 10% 0 12% 10%;
      }
    }
    p{
      margin-bottom: 2%;
      padding: 0 5%;
      line-height: 30px;
      font-size: 1.8em;
      .box-sizing;
      @media @tablet-landscape-up{
      	padding: 0;
      }
      strong{
        font-weight: 700;
        font-size: 1.8em;
        line-height: 30px;
      }
      &.bottom{
        strong{
          font-size: 4em;
        }
        @media @desktop-up{
          margin-bottom: 6%;
        }
        @media @big-desktop-up{
          margin-bottom: 10%;
        }
      }
    }
  }
  .allimgs2{
    float: left;
    width: 55%;
    margin-top: 5em;
    img{
      width: 50%;
      float: left;
      &:nth-child(1){
        width: 100%;
      }
      &:nth-child(4){
        width: 100%;
      }
    }
  }
.hospedagem .slick-dots{
  width: auto;
  right: 0;
  li{
    width: 10px;
    height: 10px;
    background-color: #a9120f;
    border: 3px solid #a9120f;
  }
}
.hospedagem .slick-dotted.slick-slider{
  margin-bottom: 50px;
  margin-top: 5%;
}