/*------------------------------------*\
    #LIST
\*------------------------------------*/

.list{
  background-color: @color-red;
  &__container{
    color: @color-white;
    font-size: 1.8em;
    @media @phone-only{
      line-height: 2em;
    }
    @media @tablet-portrait-up{
      position: absolute;
      top: 50%;
      .transformy(-50%); 
    }
  }
  &__item{
    .box-sizing;
    padding: 1% 5%;
    &--small{
      padding: 1.5% 5% 0;
      font-size: .8em;
    }
  }
}
