/*------------------------------------*\
    #CONTATO
\*------------------------------------*/

.contato{
	background-color: #E6E6E6;
	background-image: url('../images/bg-contato.png');
	background-repeat: no-repeat;
	background-position: left top;
	background-size: auto 100%;
	&__container{
		padding: 15% 0;
	}
	.title{
	    font-size: 10em;
		margin: 0 0 5%;
		@media @tablet-landscape-up{
			font-size: 14em;
		}
	}
}