/*------------------------------------*\
    #BAR
\*------------------------------------*/

.bar{
	background-color: @color-black;
	padding: 1.5% 0;
	text-align: center;
	font-size: 4em;
	color: @color-white;
	width: 100%;
	a{
		color: @color-red;
		.transition(all .2s ease-out);
		&:hover{
			color: @color-red-white;
			cursor: pointer;
			.transition(all .2s ease-out);	
		}
	}
}