/*------------------------------------*\
    #ALERT
\*------------------------------------*/

.alert {
    font-size: 2em;
    display: none;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    background: #FFF;
    opacity: 0.9;
    padding: 2.5% 4%;
    z-index: 999999;
    text-align: center;
    line-height: 30px;
    box-shadow: 3px 3px 10px rgba(0, 94, 102, .9);
    .box-sizing();
    &--error{
        color: red;
          border: 4px solid red;
    }
    &--success{
        color: green;
          border: 4px solid green;
    }
    @media screen and (min-width: 720px){
        top: 20%;
        right: 10%;
        left: inherit;
        width: 400px;
    }
}
