/*------------------------------------*\
    #INFO
\*------------------------------------*/

.info{
	&__item{
		@media @phone-only{
			text-align: center;
		}
		padding: 6% 0;
		background-color: @color-red;
		&:nth-child(2){
		    background-color: @color-red-white;
		}
		h1{
			font-size: 4em;
			margin-bottom: 3%;
			color: @color-white;
		}
		p{
			font-size: 1.8em;
			color: @color-white;
			line-height: 1.6em;
		}
	}	
	&__img{
		height: 150px;
		align-self: center;
		@media @phone-only{
			float: inherit;
			margin-bottom: 5%;
		}
		&--mobile{
			@media @phone-only{
				display: inline-block;
			}
			@media @tablet-portrait-up{
				display: none;
			}
		}
		&--desktop{
			@media @phone-only{
				display: none;
			}
			@media @tablet-portrait-up{
				display: inline-block;
			}
		}
	}
}