/*------------------------------------*\
    #CARDS
\*------------------------------------*/
.hospedagem{
	
}
.cards{
	&__item{
		&--dest{
			margin-top: -4% !important;
			position: relative !important;
			overflow: hidden !important;
		}
	}
	&__item-plus{
		width: 35%;
		&--dest{
			position: relative !important;
			overflow: hidden !important;
		}
	}
	&__title{
		font-size: 2em !important;
		text-align: center !important;
		margin: 1% 0 0 !important;
		line-height: 1.2em !important;
		background-color: #dadbda !important;
		height: 3em !important;
		color: #a9120f !important;
		padding: 1em 0 0 !important;
		box-sizing: border-box !important;
	}
	&__title-plus{
		font-size: 2em !important;
		text-align: center !important;
		margin: 1% 0 0 !important;
		line-height: 1.2em! important;
		background-color: #a9120f !important;
		min-height: 3em !important;
		color: #FFF !important;
		padding: 5% 0 5% 70px !important;
		box-sizing: border-box !important;
	}
	&__valor{
		font-size: 2.5em !important;
		font-weight: 700 !important;
		text-align: center !important;
		margin: 0 0 0 !important;
		line-height: 1.2em !important;
		background-color: #e6e6e6 !important;
		height: 3.5em!important;
		color: #a9120f !important;
		padding: 1em 0 0 !important;
		box-sizing: border-box !important;
	}
	&__valor-plus{
	    font-size: 2.5em !important;
	    font-weight: 700 !important;
	    text-align: center !important;
	    margin: -3px 0 0 !important;
	    line-height: .8em !important;
	    background-color: #cc0a07 !important;
	    color: #FFF !important;
	    padding: .8em 1.5em !important;
	    box-sizing: border-box !important;
	}
	&__lista{
		padding: 0 5% 5% !important;
		text-align: left !important;
		border-bottom: 1px solid #e6e6e6 !important;
	}
	&__lista-plus{
		text-align: left !important;
    	margin-left: -3%;
	}
	&__lis-item{
		padding: 10% 5% !important;
		font-size: 1.6em !important;
		border-bottom: 2px solid #e6e6e6 !important;
	}
	&__lis-item-plus{
	    padding: 3% !important;
	    font-size: 2em !important;
	    border-bottom: 2px solid #e6e6e6;
	    font-weight: 700;
	}
}