/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.header {
  text-align: justify;
  height: 8em;
  width: 100%;
  padding: 1%;
  position: absolute;
  z-index: 9999;
  .box-sizing;
  &:after {
      content: '';
      display: inline-block;
      width: 100%;
  }
  > div{
    height: 100%;
    &:before {
        content: '';
        height: 100%;
    }
  }
  a svg{
    .transition(200ms);
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    &:hover {
       fill: #eb801f;
    }
  }
}

.header{
  > div,
  > div::before,
  .nav,
  > div h1 {
     display: inline-block;
     vertical-align: middle;
     text-align: left;
     float: right;
  }
}

.header{
  > div h1,
  > div h1 a,
  > div h1 a img {
    height: 100%;
    display: inline-block;
  }
}
.header{
  .logo-white{
    display: inline-block;
    position: relative;
    z-index: 999;
    width: 80px;
  }
  .logo-red{
    display: none;
  }
}
.header.is-scroll{
  position: fixed;
  background-color: #000;
  .logo-white{
    display: none;
  }
  .logo-red{
    display: inline-block;
    z-index: 999;
    position: relative;
    width: 80px;
  }
}
.nav{
  &__link{
    padding: 0 0.6em;
    white-space: nowrap;
    &:last-child {
        padding-right: 0;
    }
    &--footer {
      display: block;
      margin-left: 10%;
      margin-bottom: 5%;
      @media @mobile{
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width: 720px){
  .header {
    height: auto;
    > div,
    > div h1,
    > div h1 a,
    > div h1 a img {
      height: auto;
    }
  }
}

@media only screen and (max-width: 1128px) {
  .header.is-expanded {
    .nav{
      background-color: @color-black;
      padding: 45px 5px 5px;
      a{
        font-size: 2em;
        display: block;
      }
    }
  }
  .header .nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 9;   
    a{
      display: none;
      width: 100%;
      border-left: none;
      padding: 4%;
      width: 100%;
    }
  }
}
.header .nav{
    @media @tablet{
      width: 50%;
      left: inherit;
      right: 0;
    }
    @media @desktop{
      width: 30%;
      left: inherit;
      right: 0;
    }  
}
.hamburger {
  position: absolute;
  z-index: 9;
  top: 5px;
  right: 2%;
  width: 30px;
  height: 30px;
  @media @desktop-xl {
    display: none;
  }
  &__all {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  hr {
    width: 30px;
    height: 4px;
    position: absolute;
    display: block;
    background-color: @color-white;
    border: 0;
    .transition(all .2s ease-out);
  }
}
.hamburger hr.line_1 {
  top: 5px;
}
.hamburger hr.line_2 {
  top: 11px;
}
.hamburger hr.line_3 {
  top: 17px;
}
.is-expanded .hamburger hr.line_1,
.is-expanded .hamburger hr.line_3 {
  top: 11px;
}
.is-expanded .hamburger hr.line_1 {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.is-expanded .hamburger hr.line_2 {
  opacity: 0;
  width: 0;
}
.is-expanded .hamburger hr.line_3 {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  transform: rotate(135deg);
}
