/*------------------------------------*\
    #LIST
\*------------------------------------*/

.pre{
	padding: 5%;
	color: @color-white;
	display: inline-table;
	.box-sizing;
	@media @tablet-portrait-up{
		padding: 10% 0;
	}
}