/*------------------------------------*\
    #TAG
\*------------------------------------*/

.tag{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	background-color: @color-white;
	padding: 1.5%;
	.box-sizing;
	@media @tablet-portrait-up{
		width: 50%;
	}
	@media @desktop-small{
		width: 20%;
	}
	h1{
		font-size: 3em;
		font-weight: 700;
		color: #a9120f;
		margin-bottom: 1.5%;
		display: inherit;
	}
	span{
		font-size: 2.5em;
		display: block;
	}
}