/*------------------------------------*\
    #PAGE
\*------------------------------------*/

.page{
	background-color: @color-red;
	background-repeat: no-repeat;
	background-size: auto 100%;
	&--um{
		background-image: url('../images/barra-black.jpg');
		background-position: left top;
	}
	&--dois{
		background-image: url('../images/barra-black2.jpg');
		background-position: right top;
	}
	&--tres{
		background-image: url('../images/grid.jpg');
		background-position: right top;
	}
}

.aex-2017{
	.logo{
		margin: 4% 0;
		padding-left: 10%;
		@media @desktop-up{
			margin: 6% 0;
		}
		@media @big-desktop-up{
			margin: 10% 0;
		}
	}
	.sub-title{
		margin-left: 10%;
		margin-bottom: 2%;
	}
	.bottom{
		@media @desktop-up{
			margin-bottom: 6%;
		}
		@media @big-desktop-up{
			margin-bottom: 10%;
		}
	}
	.paragraph{
		margin-bottom: 2%;
		padding: 0 10%;
		line-height: 30px;
	}
}

.content{
	background-color: #FFF;
  @media @desktop-up{
    margin-left: 10%;
  }
}
.imgs{
  @media @desktop-up{
    margin-top: -5%;
    margin-bottom: -5%;
  }
	.img{
		width: 50%;
		float: left;
		&:nth-child(3){
			width: 100%;
		}
		&:nth-child(6){
			width: 100%;
		}
	}
}