/*------------------------------------*\
    #TAB
\*------------------------------------*/

.tab{
	margin-bottom: 2.5%;
	&__header{
		&:hover{
			cursor: pointer;
		}
	}
	&__title{
		font-size: 1.6em;
		position: relative;
    	height: auto;
		@media @desktop{
			height: 170px;
		}
		@media @desktop-xl{
			height: 170px;
		}
		.box-sizing;
	}
	&__name{
		height: 170px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 0 30px;
	}
	&__item{
		height: 0;
		overflow: hidden;
		.box-sizing;
		.transition(height .2s ease-out);
	}
	&__prev{
		@media @desktop{
    		height: 170px;
		}
		@media @desktop-xl{
    		height: 170px;
		}
	    padding: 2.5%;
		.box-sizing;
	}
	&__paragraph{
		font-size: 1.5em;
		line-height: 1.2em;
		padding: 0.5% 5% 0;
		margin-top: 1%;
	}
	&__btn{
	    width: 1em;
	    height: 1em;
	    position: absolute;
		top: 50%;
    	right: 2%;
		.border-radius(50%);
		.transformy();
		&--open{
			display: block;
		}
		&--close{
			display: none;
		}
	}
}
.is-open{
	.tab__item{
		height: auto;
    	float: left;
		.transition(height .8s ease-out);
	}
	.tab__btn{
		&--open{
			display: none;
		}
		&--close{
			display: block;
		}
	}
}
