/*------------------------------------*\
    #PARALLAX
\*------------------------------------*/
.parallax {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slick--parallax{
  width: 100%;
  height: 100%;
  .slick-slide{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  .slick-track{
    width: 100%;
    height: 100%;
  }
  .slick-list{
    width: 100%;
    height: 100%;
  }
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  z-index: 1;
  @media screen and (min-width: 950px) {
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
  }
  &.mobile{
    top: inherit;
    bottom: -25%;
    left: 0;
    width: 100%;
    height: auto;
  }
}

.txt{
  position: absolute;
  margin-left: -70%;
  width: auto;
  height: 100%;
  z-index: 100;
  @media screen and (min-width: 950px) {
    margin-left: -40%;
    margin-top: -10px;
    left: 50%;
  }
}

.isall {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  margin-top: -130px;
  margin-left: -175px;
  z-index: 999;
  opacity: .8;
  @media @tablet-portrait-up{
    width: 600px;
    margin-top: -150px;
    margin-left: -300px;
  }
  @media @tablet-landscape-up{
    width: 900px;
    margin-top: -220px;
    margin-left: -450px;
  }
  @media @desktop-small{
    width: 970px;
    margin-top: -220px;
    margin-left: -490px;
  }
  @media @desktop-up{
    width: 1170px;
    margin-top: -260px;
    margin-left: -580px;
  }
  @media @big-desktop-up{
    width: 1400px;
    margin-top: -320px;
    margin-left: -650px;
  }
}

.cortada {
  position: absolute;
  right: 0;
  width: auto;
  height: 100%;
  z-index: 100;
  &--mobile{
    @media screen and (max-width: 949px) {
      right: -100%;
      width: 400%;
      bottom: 0;
      height: auto;
    }
    @media screen and (min-width: 950px) {
      height: 120%;
      top: -10%;
      left: 50%;
      margin-left: -50%;
    }
  }
  @media screen and (min-width: 950px) {
    height: 120%;
    top: -10%;
    left: 50%;
    margin-left: -50%;
  }
}
.conteudo{
  color: #FFF;
  position: absolute;
  z-index: 999;
  width: 90%;
  left: 5%;
  top: 40%;
  font-size: 4em;
  font-weight: 700;
  line-height: 1.5em;
  .transformy(-50%);
  @media @tablet-portrait-up{
    font-size: 5em;
    width: 30%;
    right: 5%;
    top: 50%;
    left: inherit;
  }
}