/*------------------------------------*\
    #BUTTON
\*------------------------------------*/

.btn{
  display: inline-block;
  border: 0;
  background-color: @color-black;
  padding: 4%;
  margin-top: 5%;
  width: 100%;
  .box-sizing;
  .border-radius(10px);
  .transition(all .2s ease-out);
  @media @tablet-portrait-up{
    width: initial;
    padding: 10px 20px;
  }
  &:hover{
    cursor: pointer;
    background-color: @color-red;
    .transition(all .2s ease-out);
  }
  &--columns{
    bottom: 8%;
  }
  &--paragraph{
    border-color: #122147;
    background-color: #122147;
    bottom: 0;
  }
  &--local{
    margin-left: 5%;
    @media @tablet-portrait-up{
      margin-left: 10%;
      margin-top: 18%;
    }
  }
  &--menu{
    color: #fff;
    background-color: #1fa308;
    margin: 0;
    padding: 10px 20px !important;
    display: inline-block;
    font-weight: normal;
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,.8);
    .transition(all .2s ease-out);
    &:hover{
      color: @color-black !important;
      background-color: @color-green-white;
      .transition(all .2s ease-out);
    }
  }
  &--action{
    color: @color-white;
    background-color: @color-green;
    padding: 10px 20px;
    display: inline-block;
    font-size: 2.5em;
    font-weight: bold;
    .transition(all .2s ease-out);
    &:hover{
      background-color: @color-green-white;
      .transition(all .2s ease-out);
    }
  }
  &--submit{
    display: inline-block;
    font-size: 1.8em;
    .transition(all .2s ease-out);
    &:hover{
      background-color: @color-red;
      .transition(all .2s ease-out);
    }
    @media @tablet-portrait-up{
      margin-left: 20%;
    }
  }
}
