///*------------------------------------*\
//    #GLOBAL
//\*------------------------------------*/

//colors
@color-white: #fff;
@color-black: #000;
@color-gray: #E6E6E6;
@color-green: #1fa308;
@color-green-white: #28ce0b;
@color-red: #a9120f;
@color-red-white: #cc0a07;


// Breakpoints
@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
              ~"only screen and (min--moz-device-pixel-ratio: 1.5)",
              ~"only screen and (-o-min-device-pixel-ratio: 3/2)",
              ~"only screen and (min-device-pixel-ratio: 1.5)";
@mobile:      ~"only screen and (max-width: 529px)";
@tablet:      ~"only screen and (min-width: 530px) and (max-width: 949px)";
@desktop:     ~"only screen and (min-width: 950px) and (max-width: 1128px)";
@desktop-xl:  ~"only screen and (min-width: 1129px)";


@phone-only:          ~"only screen and (max-width: 599px)";
@tablet-portrait-up:  ~"only screen and (min-width: 600px)";
@tablet-landscape-up: ~"only screen and (min-width: 900px)";
@desktop-small:       ~"only screen and (min-width: 1024px)";
@desktop-up:          ~"only screen and (min-width: 1200px)";
@big-desktop-up:      ~"only screen and (min-width: 1800px)";
