///*------------------------------------*\
//    #MIXINS
//\*------------------------------------*/

.animation(@rules){
    -webkit-animation: @rules;
    -moz-animation: @rules;
    animation: @rules;
}
.animation-delay(@delay){
    -webkit-animation-delay: @delay;
    -moz-animation-delay: @delay;
    animation-delay: @delay;
}
.appearance(@value: none) {
    -webkit-appearance: @value;
    -moz-appearance: @value;
    appearance: @value;
}

.background-size (@type: cover) {
    -webkit-background-size: @type;
    -moz-background-size: @type;
    -o-background-size: @type;
    background-size: @type;
}
.box-sizing (@type: border-box) {
    -webkit-box-sizing: @type;
    -moz-box-sizing: @type;
    box-sizing: @type;
}


.border-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.horizontal-gradient (@firstPosition: 50%, @secondPosition: 50%, @startColor: #999, @endColor: white) {
    background-color: @startColor;
    @media screen and (min-width: 950px){
        background: @startColor; /* Old browsers */
        background: -moz-linear-gradient(left,  @startColor @firstPosition, @endColor @secondPosition); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  @startColor @firstPosition,@endColor @secondPosition); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  @startColor @firstPosition,@endColor @secondPosition); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@startColor', endColorstr='@endColor',GradientType=1 ); /* IE6-9 */
    }
}
.opacity (@opacity: .5) {
    -webkit-opacity: @opacity;
    -moz-opacity: @opacity;
    opacity: @opacity;
}
.placeholder(@rules) {
    &::-webkit-input-placeholder {
        @rules();
    }
    &:-moz-placeholder {
        @rules();
    }
    &::-moz-placeholder {
        @rules();
    }
    &:-ms-input-placeholder {
        @rules();
    }
}
.rotate(@deg) {
    -ms-transform: rotate(@deg);
    -webkit-transform: rotate(@deg);
    transform: rotate(@deg);
}
.transformy(@translatey: -50%) {
    -webkit-transform: translatey(@translatey);
    -moz-transform: translatey(@translatey);
    -o-transform: translatey(@translatey);
    transform: translatey(@translatey);
}

.transformx(@translatex: -50%) {
    -webkit-transform: translatex(@translatex);
    -moz-transform: translatex(@translatex);
    -o-transform: translatex(@translatex);
    transform: translatex(@translatex);
}

.transform(@translatey: -50%, @translatex: -50%, ) {
    -webkit-transform: translatey(@translatey) translatex(@translatex);
    -moz-transform: translatey(@translatey) translatex(@translatex);
    -o-transform: translatey(@translatey) translatex(@translatex);
    transform: translatey(@translatey) translatex(@translatex);
}

.transition (@transition) {
    -webkit-transition: @transition;
    -moz-transition:    @transition;
    -ms-transition:     @transition;
    -o-transition:      @transition;
    transition:         @transition;
}
