/*------------------------------------*\
    #WIDTHS
\*------------------------------------*/

.col-1-1   { width: 100%; }

.col-1-2   { width: 50%; }

.col-1-3   { width: 33.333333333%; }
.col-2-3   { width: 66.666666666%; }

.col-1-4   { width: 25%; }
.col-3-4   { width: 75%; }

.col-1-5   { width: 20%; }
.col-2-5   { width: 40%; }
.col-3-5   { width: 60%; }
.col-4-5   { width: 80%; }

.col-1-10  { width: 10%; }
.col-3-10  { width: 30%; }
.col-7-10  { width: 70%; }
.col-9-10  { width: 90%; }

@media @mobile {
    .mobile-one-whole          { width: 100%; }

    .mobile-one-half           { width: 50%; }

    .mobile-one-third          { width: 33.333333333%; }
    .mobile-two-thirds         { width: 66.666666666%; }

    .mobile-one-quarter        { width: 25%; }
    .mobile-three-quarters     { width: 75%; }

    .mobile-one-fifth          { width: 20%; }
    .mobile-two-fifths         { width: 40%; }
    .mobile-three-fifths       { width: 60%; }
    .mobile-four-fifths        { width: 80%; }

    .mobile-one-tenth          { width: 10%; }
    .mobile-three-tenths       { width: 30%; }
    .mobile-seven-tenths       { width: 70%; }
    .mobile-nine-tenths        { width: 90%; }
}


@media @tablet {
    .tablet-one-whole         { width: 100%; }

    .tablet-one-half          { width: 50%; }

    .tablet-one-third         { width: 33.333333333%; }
    .tablet-two-thirds        { width: 66.666666666%; }

    .tablet-one-quarter       { width: 25%; }
    .tablet-two-quarter       { width: 35%; }
    .tablet-three-quarters    { width: 75%; }

    .tablet-one-fifth         { width: 20%; }
    .tablet-two-fifths        { width: 40%; }
    .tablet-three-fifths      { width: 60%; }
    .tablet-four-fifths       { width: 80%; }

    .tablet-one-tenth         { width: 10%; }
    .tablet-three-tenths      { width: 30%; }
    .tablet-seven-tenths      { width: 70%; }
    .tablet-nine-tenths       { width: 90%; }
}


@media @desktop {
    .desk-one-whole         { width: 100%; }

    .desk-one-half          { width: 50%; }

    .desk-one-third         { width: 33.333333333%; }
    .desk-two-thirds        { width: 66.666666666%; }

    .desk-one-quarter       { width: 25%; }
    .desk-three-quarters    { width: 75%; }

    .desk-one-fifth         { width: 20%; }
    .desk-two-fifths        { width: 40%; }
    .desk-three-fifths      { width: 60%; }
    .desk-four-fifths       { width: 80%; }

    .desk-one-tenth         { width: 10%; }
    .desk-three-tenths      { width: 30%; }
    .desk-seven-tenths      { width: 70%; }
    .desk-nine-tenths       { width: 90%; }
}


@media @desktop-xl {
    .deskxl-one-whole         { width: 100%; }

    .deskxl-one-half          { width: 50%; }

    .deskxl-one-third         { width: 33.333333333%; }
    .deskxl-two-thirds        { width: 66.666666666%; }

    .deskxl-one-quarter       { width: 25%; }
    .deskxl-three-quarters    { width: 75%; }

    .deskxl-one-fifth         { width: 20%; }
    .deskxl-two-fifths        { width: 40%; }
    .deskxl-three-fifths      { width: 60%; }
    .deskxl-four-fifths       { width: 80%; }

    .deskxl-one-tenth         { width: 10%; }
    .deskxl-three-tenths      { width: 30%; }
    .deskxl-seven-tenths      { width: 70%; }
    .deskxl-nine-tenths       { width: 90%; }
}
